.filters {
  grid-row: 1/-1;
}

.filters__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: $black;

  @include zero-margin();

  margin-bottom: 30px;
}

.filters__list {
  @include list();
}

.filters__item-wrapper {
  display: flex;
  flex-direction: column;
}