.current-page {
  @include container();

  margin-top: 214px;
  margin-bottom: 50px;

  &--basket {
    margin-top: 238px;
    margin-bottom: 28px;
  }
}

.current-page__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: $black;

  @include zero-margin();

  margin-bottom: 19px;
}

.current-page__wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $dark-gray2;
}

.current-page__page {
  margin-left: 36px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: -25px;
    width: 14px;
    height: 14px;
    background-image: url("./img/arrow-right.svg");
  }
}
