.social {
  margin-top: 55px;
}

.social__list {
  display: flex;
  
  @include list();

  flex-wrap: wrap;
  row-gap: 5px;
  width: 140px;
}

.social__item {
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  opacity: 0.65;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 1;
  }
}