.catalog__list {
  @include list();

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog__img {
  grid-column: 1/3;
}

.catalog__rating {
  grid-column: 1/3;
}
