.catalog__list {
  @include list();

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 11px 14px 19px;
  border: 1px solid $light-gray;
}

.catalog__img {
  grid-column: 1/3;
  margin: 0 auto;
  margin-bottom: -1px;
  background-color: $light-gray2;
}

.catalog__stars {
  svg {
    margin-right: 3px;
  }
}

.catalog__rating {
  grid-column: 1/3;
  display: flex;
  align-items: center;
}

.catalog__rate {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: $dark-gray5;

  letter-spacing: 0.1em;

  margin-top: -3px;
  width: 11px;
  text-align: end;
}

.catalog__name,
.catalog__price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: $black;

  letter-spacing: 0.06em;
  margin-bottom: 13px;
}

.catalog__name {
  width: 100px;
}

.catalog__price {
  text-align: end;
  margin-right: -4px;
}

.catalog__info,
.catalog__buy {
  font-family: "Droid Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $white;
  
  letter-spacing: 0.02em;
  padding: 4px 9px;
  border: none;
  width: 88px;
  border-radius: 2px;
}

.catalog__buy {
  margin-left: auto;
  margin-right: -1px;
}

.catalog__buy-icon {
  margin-right: 6px;
  margin-bottom: -3px;
}
