.basket__wrapper {
  @include container();

  margin-bottom: 51px; 
}

.basket__list {
  @include list();
}

.basket__item {
  border-top: 1px solid $light-gray;
  padding: 20px 0;
  padding-bottom: 11px;
  display: flex;
}

.basket__delete {
  @include button-reset();
  width: 18px;
  height: 18px;
  cursor: pointer;

  margin-right: 20px;

  @include element-brightness();
}

.basket__delete__img {
  margin-top: -4px;
  margin-right: 62px;
}

.basket__info {
  max-width: 300px;
}

.basket__name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: $black;
  
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include zero-margin();

  margin-bottom: 12px;
}

.basket__article,
.basket__type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: $black;
  
  letter-spacing: 0.05em;
}

.basket__price,
.basket__all-price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: $black;

  letter-spacing: 0.05em;
  margin: auto 0;
}

.basket__price {
  margin-left: auto;
}

.basket__all-price {
  font-weight: bold;
}

.basket__count {
  display: flex;
  height: 30px;
  margin: 0 83px;
  margin-top: 20px;
}

.basket__count-button {
  @include button-reset();
  padding: 0 9px;
  cursor: pointer;

  &--minus  {
    .basket__count-icon {
      margin-bottom: 4px;
    }
  }
  
  @include element-brightness();
}

.basket__count-button,
.basket__input {
  border: 1px solid $dark-gray5;
  box-sizing: border-box;
}

.basket__input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: $dark-gray5;
  border-right: none;
  border-left: none;

  letter-spacing: 0.05em;
  width: 26px;
  height: 30px;
  padding-left: 2px;
  display: block;
  text-align: center;
  @include element-brightness();

  &:hover,
  &:focus {
    outline: 1px solid $dark-gray5;

    outline-offset: -1px;
  }

  &:active {
    outline: 1px solid $dark-gray5;
  }
}
