.header {
  background-color: $dark-gray1;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -28px;
    width: 100%;
    height: 4px;
    background-color: $dark-gray4;
    box-shadow: 
      0 14px 0 0 $dark-gray4,
      0 28px 0 0 $dark-gray4,
      0 42px 0 0 $dark-gray4,
      0 56px 0 0 $dark-gray4,
      0 70px 0 0 $dark-gray4;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include container();
}

.header__navigation {
  margin-left: 114px;
  margin-right: auto;
}

.header__icons {
  margin-top: 4px;
}
