.navigation-icons__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include list();
}

.navigation-icons__link {
  text-decoration: none;

  &--map {
    padding: 10px 20px;
  }

  &--search {
    padding: 10px 15px;
  }

  &--basket {
    padding: 10px 18px;
    position: relative;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation-icons__count {
  position: absolute;
  top: 4px;
  right: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: $red;
}
