.navigation-icons__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include list();
}

.navigation-icons__link {
  text-decoration: none;

  &--map {
    padding: 10px 20px;
  }

  &--search {
    padding: 10px 15px;
  }

  &--basket {
    padding: 10px 18px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
