.navigation__list {
  display: flex;
  justify-content: space-between;

  @include list();

  max-width: 520px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.navigation__item {
  margin-right: 43px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  
  letter-spacing: 0.05em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-gray2;
  }

  &:active {
    color: rgba($dark-gray2, 0.5);
  }
}
