.sort {
  display: flex;
  align-items: center;
}

.sort__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $black;

  letter-spacing: 0.08em;

  @include zero-margin();

  margin-right: 19px;
}

.sort__wrapper {
  max-width: 470px;
  row-gap: 7px;
  display: flex;
  flex-wrap: wrap;
}

.sort__type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray3;

  letter-spacing: 0.07em;
  text-decoration: none;
  margin-right: 33px;

  &:focus,
  &:hover {
    color: $black;
  }

  &--popular {
    margin-right: auto;
  }

  &--active {
    color: $black;
  }
}

.sort__inputs {
  margin-left: auto;
  display: flex;
}

.sort__label {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $black;

  display: flex;
  cursor: pointer;

  &--disabled {
    color: $light-gray2;
  }
}

.sort__label-box {
  width: 22px;
  height: 22px;
  flex-shrink: 0;

  border: none;
  background-color: transparent;
  background-image: url("./img/icon-arrow-up.svg");
  opacity: 0.4;

  margin-top: -2px;

  &--up {
    transform: rotate(180deg);
    margin-right: 7px;
    margin-left: 14px;
  }
}

.sort__input:focus + .sort__label .sort__label-box,
.sort__input:hover + .sort__label .sort__label-box {
  opacity: 0.6;
}

.sort__input:active + .sort__label .sort__label-box {
  opacity: 0.3;
}

.sort__input--checked + .sort__label .sort__label-box {
  opacity: 1;
}
