$white: #ffffff;

$light-gray: #dddada;
$light-gray2: #dddddd;
$light-gray3: #f7f3f3;
$gray: #c1c1c1;

$dark-gray1: rgba(30, 9, 6, 0.15);
$dark-gray2: #474747;
$dark-gray3: #585757;
$dark-gray4:#3f3f3f;
$dark-gray5:#9f9e9e;

$black: #000000;

$orange: #e27f00;
$orange-hover:#ffa839;
$orange-click: #da8b26;
