@font-face {
  font-family: "Droid Sans";
  src:
    url("../fonts/droidsans.woff2") format("woff2"),
    url("../fonts/droidsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Droid Sans";
  src:
    url("../fonts/droidsans-bold.woff2") format("woff2"),
    url("../fonts/droidsans-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
